.iconSelect {
  width: 320px;
}

.system {
  display: flex;
  :global {
    .ant-pro-card-header {
      padding: 6px 15px 0px 15px !important;
    }
    .ant-pro-card-title {
      width: 100%;
    }
    .ant-pro-card-body {
      padding: 15px !important;
      height: 250px !important;
      overflow: auto !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }
}

.icon {
  display: flex;
  flex-wrap: wrap;
  // margin-top: 8px;
  padding-top: 70px;
  .item {
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.06);
    }
  }

  .select {
    background: rgba(0, 0, 0, 0.06);
  }
}


.appLabel {
  // width: 46px;
  // height: 46px;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
}

.border {
  border: 1px solid #eaeaea;
}
