.node {
  min-height: 80px;
  padding: 5px 10px 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(10, 30, 65, 0.16);
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

  &.selected {
    background-color: #f7f9ff;
    border-color: #0089ff;
  }

  &.end {
  }
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #1f1f1f;
  display: flex;
  align-items: center;

  .icon {
    font-size: 16px;
    margin-right: 6px;

  }
}


