.nodeAdd {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--node-line-len);

  &:before {
    position: absolute;
    content: '';
    width: var(--node-line-width);
    height: var(--node-line-len);
    background: var(--node-line-color);
  }

  &:after {
    content: '';
    position: absolute;
    top: var(--node-line-len);
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-style: solid;
    border-width: 8px 6px 4px;
    border-color: var(--node-line-color) transparent transparent;
  }
}

.hideArrow {
  &:after {
    display: none;
  }
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: #3b87f7;
  border-radius: 18px;
  color: #fff;
  z-index: 1;
}

.content {
  width: 291px;
  // padding: 12px 15px 16px;

  .group {
    margin-bottom: 5px;
  }

  .label {
    font-size: 12px;
    color: #889096;
    line-height: 18px;
    margin-bottom: 8px;
  }

  .item {
    margin-bottom: 10px;

    display: inline-flex;
    align-items: center;
    padding: 6px 7px;
    font-size: 14px;
    width: 140px;
    border: 1px solid rgba(229, 230, 232, 0.8);
    height: 40px;
    line-height: 22px;
    cursor: pointer;
    border-radius: 4px;

    &:nth-child(2n) {
      margin-right: 11px;
    }

    .ic {
      width: 26px;
      height: 26px;
      // background: #3b87f7;
      border-radius: 26px;
      margin-right: 8px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      :global {
        span {
          font-size: 14px !important;
        }
      }
    }
  }
}