.nodeBranch {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 8px;
  margin-top: 16px;

  .container {
    display: flex;
    position: relative;
    justify-content: center;
    // background: @main-bgc;
    // background: #fff;



    &:before {
      content: '';
      width: calc(100% - var(--node-width));
      background: var(--node-line-color);
      position: absolute;
      height: var(--node-line-width);
    }

    &:after {
      content: '';
      width: calc(100% - var(--node-width));
      background: var(--node-line-color);
      position: absolute;
      height: var(--node-line-width);
      bottom: 0;
    }

    .addButton {
      z-index: 5;
      top: -16px;
      position: absolute;
    }

    .item {
      position: relative;
      padding: 0 60px;
      display: flex;
      justify-content: center;


      // 控制条件内的子级
      &>div {
        z-index: 1; //防止连线跑到它上面
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        :global {
          .workflow-node:last-child {

            .workflow-node-add {

              //分支最后一个节点要去除箭头，影响美观
              &:after {
                display: none !important;
              }
            }
          }
        }

      }

      &:before {
        content: '';
        position: absolute;
        background: var(--node-line-color);
        height: 100%;
        width: var(--node-line-width);
      }
    }

    .itemLeft,
    .itemRight {
      &:after {
        //当分支不是偶数时，需要一个遮罩线
        content: '';
        position: absolute;
        height: var(--node-line-width);
        width: 50%;
        top: 0;
        background: #fff;
        // background: red;
      }

      &>div {
        &:before {
          //当分支不是偶数时，需要一个遮罩线
          content: '';
          position: absolute;
          height: var(--node-line-width);
          width: 50%;
          bottom: 0;
          background: #fff;
          // background: red;
          // bottom: -8px;
        }
      }
    }

    .itemLeft {
      margin-left: 0;

      &>div {
        &:before {
          left: -1px;
        }
      }

      &:after {
        left: -1px;
      }
    }

    .itemRight {
      margin-right: 0;

      &>div {
        &:before {
          right: -1px;
        }
      }

      &:after {
        right: -1px;
      }
    }

  }

}